@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
#espaco{

    width: 100vw;
    height: 30%;
}
#app{
    margin: 0 auto;
    background-color: #202124;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}
body{
    display: flex;
    justify-content: center;
}
input{
    padding-left: 10px;
    margin: 20px;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    border: white;

}
input::placeholder{
    color: rgb(175, 175, 177);
}
#registrar{
    background-color: white;
    border: none;
    width: 90px;
    height: 27px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.8s;
    cursor: pointer;
}
ul{
    color: white;
    list-style-type: none;

    width: 290px;
    min-height: 50px;
    text-overflow: clip;
    margin-left: 20px;
}
li{
    margin-left: 20px;
    max-width: 60%;
    margin-bottom: 10px;
}
#container{
    display: block;
    text-overflow: clip;
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: 330px;
}

#container > ul > p{
    width: 98%;
    margin: 10px 0px 10px 10px;
    transition: all 0.8s;
}
#app > #container > ul > button{
    background-color: white;
    border: none;
    width: 90px;
    height: 27px;
    margin-left: 10px;
    display: inline;
    border-radius: 20px ;
    transition: 0.8s;
    cursor: pointer;
}
#app > #container > ul > button:hover{
    background-color: red;
    transition: 0.8s;
    margin-left: 20px;
}
#registrar:hover{
    background-color: rgb(39, 209, 39);
    transition: 0.8s;
}

